#include <windows.h>
#define IDI_ICON1                       101

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)

	#ifdef _WIN32
		LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
		#pragma code_page(1252)
	#endif //_WIN32

	IDI_ICON1               ICON                    "dangerdeep.ico"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,3,0
 PRODUCTVERSION 0,0,3,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "\0"
            VALUE "FileDescription", "Danger from the Deep\0"
            VALUE "FileVersion", "0, 0, 3, 0\0"
            VALUE "InternalName", "Dangerdeep\0"
            VALUE "LegalCopyright", "Copyright (C) 2003-2010  Thorsten Jordan, Luis Barrancos and others.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "dangerdeep.exe\0"
//            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Danger from the Deep\0"
            VALUE "ProductVersion", "0, 0, 3, 0\0"
//            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
