body {
	background-color: #000;
	color: #fff;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
	text-align: center; /* IE is the suck */
}

img.left {
	float: left;
}

img.right {
	float: right;
}

div.classdiagram
{
	background-color: red;
	width: 600px;
	overflow: auto;
	background-color: #444;
	color: #fff;
	border: 1px solid #fff;
}

h2.center {
	text-align: center;
}

h2.right {
	text-align: right;
}

div.container {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-image: url('images/bg1.jpg');
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.menu {
	width: 150px;
	float: left;
}

div.text_header {
	width: 50%;
	margin-left: auto; 
	margin-right: auto;
}

div.contents {
	width: 620px;
	float: right;
	text-align: justify;
	min-height: 500px;
}

div.foot {
	clear: both;
	text-align: center;
	border-top: 1px solid #fff;
}

img.right {
	float: right;
}

div.code {
	text-align: left;
	background-color: #444;
	border: 1px solid #fff;
	width: 100%;
	white-space: pre;
	overflow: auto;
	font-family: monospace;
	color: #fff;
}

/* gallery */
div.thumbnails img {
	border-width: 0px;
	float: left;
	margin: 10px;
}

div.thumbnails
{
	clear: both;
}

h3
{
	clear: both;
}

/* menu */
ul.menu {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 15px;
}

ul.menu li {
	list-style: none;
	padding: 1px;
	margin: 3px 0px 0px 0px;
	text-align: left;
	background-repeat: repeat-x;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 20px;
	overflow: hidden;
	background-image: url( 'images/button.png' );
}

ul.menu li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding-left: 18px;
	height: 16px;
}

img.std {
	margin: 2px;
	border: 0px;
}

/* icons */
li.about a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px 0px; 
}

li.warn a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -16px; 
}

li.feat a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -32px; 
}

li.news a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -48px; 
}

li.gallery a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -64px; 
}

li.forum a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -80px; 
}


li.download a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -96px; 
}

li.help a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -112px; 
}

li.docu a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -128px; 
}

li.links a {
	background: url( 'images/icons.gif' );
	background-repeat: no-repeat;
	background-position: 0px -144px; 
}

/* hacks */
div.ie_center {
	text-align: center;
}

